<div id="services">
    <img src="/Content/images/folder_table.png" alt="Downloads Icon" /><h3>Meine Services</h3>
    <ol>
        <li><a href="#"><img src="/Content/images/basket.png" alt="" />MSDN AA</a>
            <span>Microsoft Software herunterladen</span>
        </li>
        <li><a href="$UrlHelper.For("%{controller = 'Documents', action = 'List', area = 'members'}")"><img src="/Content/images/book_open.png" alt="" />Dokumente</a>
            <span>LV Unterlagen herunterladen</span>
        </li>
        <li><a href="$UrlHelper.For("%{controller = 'Documents', action = 'Upload', area = 'members'}")"><img src="/Content/images/book_open.png" alt="" />Hochladen</a>
            <span>LV Unterlagen hochladen</span>
        </li>
        
        <li class="seperated">$UrlHelper.Link("<img src='/Content/images/door_out.png' alt='' />Logout", "%{action='logout', area='members', controller='Profile'}")</li>
    </ol>
</div>