<h1>Über den imagineClub</h1>
<p>In Austria every university has a institution called ÖH that is there to support students throughout their studies. They provide legal advice, course material and many other things.    <br />The downside of this great service is that it’s directly associated with the university and therefore subject to some regulations regarding what they can do and what not. </p> 
<p>Amongst the things that the regular ÖH isn’t able to do is provide course material other than the official things the professors provide. Student generated content could be wrong and that would look bad for the organization.    <br /><a href="http://www.imagineclub.at/">imagineClub</a> was founded to solve this problem in 2007 and had a lot of success by requiring members to pay for their membership through term-paper submissions to contribute to the overall knowledgebase. </p> 
<p><a href="http://www.imagineclub.at/">imagineClub</a> also managed to partner with Microsoft and therefore was allowed to offer the MSDN-Academic Alliance service to all of their members. Allowing members to freely download and use Microsoft development software like Visual Studio, Windows etc.. </p> 