<h1>Partner und Sponsoren des iC</h1>
<p>Der imagineClub dankt sehr herzlich seinen Fördermitgliedern und Sponsoren</p>

<p>
<ol id="partners">
    <li>Microsoft Österreich GmbH</li>
    <li>Alpen-Adria-Universität Klagenfurt</li>
    <li>Hochschülerschaft an der Universität Klagenfurt</li>
    <li>integranova GmbH</li>
    <li>Bawag</li>
</ol>
</p>