* {
    margin: 0;
}

html, body 
{
    background: url(../images/background-tile.jpg);
    padding: 0;
    height: 100%;
    font-family: Tahoma;
    font-size: 12px;
}

#wrapper
{
    width: 745px;
    background: url(../images/background.png);
    background-repeat: no-repeat;
   
    /* Sticky Footer */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -168px;
}

#body-wrap
{
    padding-top: 40px;
    margin: 0;
    margin-left: 45px;
    margin-top: 50px;
    margin-right: 60px;
}

h1
{
    margin: 0px 0px 50px 0px;
}

table
{
    background: #414757;
    width: 100%;
}

thead tr, thead a
{
    background-color: #2E5C5C;
    padding-bottom: 4px;
    color: White;
}

tbody tr:hover
{
    background: #789048;
    cursor: pointer;
}

tbody tr
{
    background: #ededed;
}

tbody a
{
    text-decoration: none;
    color: black;
}

tr.alternate
{
    background: #B2B2B2;
}

div.pagination
{
    margin-top: 20px;
}

div.pagination table, div.pagination tr
{
    background: #white;
}