#set ($day = $post.PostDate.ToString("dd") )
#set ($month = $post.PostDate.ToString("MM") )
#set ($year = $post.PostDate.ToString("yy") )
<div class="post">
    <div class="date">
        <span class="day">$day</span><span class="month">$month</span>
        <hr />
        <span class="year">$year</span>
    </div>
    <h1>{post-title}</h1>
    <sup>geschrieben von <a href="mailto:$post.PostedBy.Email.Replace('@', '[at]')">$post.PostedBy.Firstname $post.PostedBy.Lastname</a></sup>
    {post-body}
    
    <div id="Comments">
    </div>
</div>

<form method="post" action="$UrlHelper.For("%{action='Detail', querystring='id=$post.Id'}")">
<fieldset>
    <legend>Beitrag kommentieren</legend>
    <img src="/Content/images/email_edit.png" alt="Email icon" /><h3>Beitrag kommentieren</h3>
    <ol>
        <li>
        $FormHelper.LabelFor("Comment.Name", "Name")
        $FormHelper.TextField("Comment.Name")
        </li>
        <li>
        $FormHelper.LabelFor("Comment.Text", "Kommentar")
        $FormHelper.TextArea("Comment.Text")
        </li>
    </ol>
    <input type="submit" value="Absenden" />
</fieldset>
</form>