<h1>Dem imagineClub beitreten</h1>

<form method="post" action="AccountInformation.aspx">
<fieldset>
    <img src="/Content/images/group_add.png" alt="" /><h3>Deine Informationen</h3>
    <legend>Deine Anmelde-Informationen</legend>
    <ol>
        <li>$FormHelper.LabelFor("Register.Username", "Benutzername")
        $FormHelper.TextField("Register.Username")
        $ValidationHelper.GetErrorMessages($summary, "Username")</li>
        <li>$FormHelper.LabelFor("Register.Password", "Kennwort")
        $FormHelper.PasswordField("Register.Password")
        $ValidationHelper.GetErrorMessages($summary, "Password")</li>
        <li>$FormHelper.LabelFor("Register.PasswordConfirmation", "Wiederholung")
        $FormHelper.PasswordField("Register.PasswordConfirmation")
        $ValidationHelper.GetErrorMessages($summary, "PasswordConfirmation")</li>
        <li>$FormHelper.LabelFor("Register.Email", "Email")
        $FormHelper.TextField("Register.Email")
        $ValidationHelper.GetErrorMessages($summary, "Email")</li>
    </ol>
    <input type="submit" value="absenden" />
</fieldset>
</form>