<h1>Dem imagineClub beitreten</h1>
$test
<form method="post" action="IntroductionStep-Save.aspx">
<fieldset>
    <img src="/Content/images/group_add.png" alt="" /><h3>Persönliche Informationen</h3>
    <legend>Persönliche Informationen</legend>
    <ol>
        <li>$FormHelper.LabelFor("Register.Category", "Kategorie") 
        $FormHelper.Select("Register.Category", $categories, "%{value='Name', text='Name'}")</li>
        
        <li>$FormHelper.LabelFor("Register.Title", "Titel")
        $FormHelper.TextField("Register.Title")</li>
        <li>$FormHelper.LabelFor("Register.Firstname", "Vorname")
        $FormHelper.TextField("Register.Firstname")</li>
        <li>$FormHelper.LabelFor("Register.Lastname", "Nachname")
        $FormHelper.TextField("Register.Lastname")</li>
        <li>$FormHelper.LabelFor("Register.Street", "Strasse")
        $FormHelper.TextField("Register.Street")</li>
        <li>$FormHelper.LabelFor("Register.Zip", "PLZ")
        $FormHelper.TextField("Register.Zip")</li>
        <li>$FormHelper.LabelFor("Register.Telephone", "Telefon")
        $FormHelper.TextField("Register.Telephone")</li>
        <li>$FormHelper.LabelFor("Register.MatrNr", "MatrikelNr")
        $FormHelper.TextField("Register.MatrNr")</li>
        <li>$FormHelper.LabelFor("Register.MSN", "MSN")
        $FormHelper.TextField("Register.MSN")</li>
        <li>$FormHelper.LabelFor("Register.ICQ", "ICQ")
        $FormHelper.TextField("Register.ICQ")</li>
        <li>$FormHelper.LabelFor("Register.Skype", "Skype")
        $FormHelper.TextField("Register.Skype")</li>
        <li>$FormHelper.LabelFor("Register.BirthPlace", "Geburtsort")
        $FormHelper.TextField("Register.BirthPlace")</li>
        <li>$FormHelper.LabelFor("Register.Birthday", "Geburtstag")
        $FormHelper.TextField("Register.Birthday")</li>
        <li>$FormHelper.LabelFor("Register.NewsLetterOptIn", "Newsletter")
        $FormHelper.CheckboxField("Register.NewsLetterOptIn")</li>
    </ol>
    <input type="submit" value="absenden" />
</fieldset>
</form>