<h1>Dem imagineClub beitreten</h1>

<form method="post" action="PersonalInformation.aspx">
<fieldset>
    <img src="/Content/images/group_add.png" alt="" /><h3>Persönliche Informationen</h3>
    <legend>Persönliche Informationen</legend>
    <ol>
        <li>$FormHelper.LabelFor("Personal.Category", "Kategorie") 
        $FormHelper.Select("Personal.Category", $categories, "%{value='Name', text='Name'}")</li>
        
        <li>$FormHelper.LabelFor("Personal.Title", "Titel")
        $FormHelper.TextField("Personal.Title")
        $ValidationHelper.GetErrorMessages($summary, "Title")</li>
        <li>$FormHelper.LabelFor("Personal.Firstname", "Vorname")
        $FormHelper.TextField("Personal.Firstname")
        $ValidationHelper.GetErrorMessages($summary, "Firstname")</li>
        <li>$FormHelper.LabelFor("Personal.Lastname", "Nachname")
        $FormHelper.TextField("Personal.Lastname")
        $ValidationHelper.GetErrorMessages($summary, "Lastname")</li>
        <li>$FormHelper.LabelFor("Personal.Street", "Strasse")
        $FormHelper.TextField("Personal.Street")
        $ValidationHelper.GetErrorMessages($summary, "Street")</li>
        <li>$FormHelper.LabelFor("Personal.Zip", "PLZ")
        $FormHelper.TextField("Personal.Zip")
        $ValidationHelper.GetErrorMessages($summary, "Zip")</li>
        <li>$FormHelper.LabelFor("Personal.City", "Stadt")
        $FormHelper.TextField("Personal.City")
        $ValidationHelper.GetErrorMessages($summary, "City")</li>
        <li>$FormHelper.LabelFor("Personal.MatrNr", "MatrikelNr")
        $FormHelper.TextField("Personal.MatrNr")
        $ValidationHelper.GetErrorMessages($summary, "MatrNr")</li>
        <li>$FormHelper.LabelFor("Personal.BirthPlace", "Geburtsort")
        $FormHelper.TextField("Personal.BirthPlace")
        $ValidationHelper.GetErrorMessages($summary, "BirthPlace")</li>
        <li>$FormHelper.LabelFor("Personal.Birthday", "Geburtstag")
        $FormHelper.TextField("Personal.Birthday")
        $ValidationHelper.GetErrorMessages($summary, "Birthday")</li>
    </ol>
    <input type="submit" value="absenden" />
</fieldset>
</form>