to: $member.Email
from: system@imagineclub.at
subject: Ihr Kennwort wurde zurückgesetzt
Hallo $member.Username!

Ihr Kennwort wurde auf Ihren Wusnch hin zurückgesetzt und lautet nun:
---------
Username: $member.Username
Kennwort: $password
---------

Sie können sich mit dem neuen Kennwort einloggen und dort unter Profil das Kennwort ändern.

MfG, imagineClub