<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <link rel="Stylesheet" href="/Content/css/admin.css" media="screen" />
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/XmlRpc/manifest.aspx" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>iC - imagineClub - Admin</title>
    </head>
    
    <body>
        <div id="wrapper">
            <div id="body-wrap">
                $childContent
            </div>
        </div>
    </body>
</html>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/Content/script/script.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("table tbody tr:odd").addClass("alternate");
        $("table tbody tr").click(function() {
            $link = $(this).find("a").eq(0);
            if ($link.length == 0) return;
            $href = $link.attr("href");
            document.location = $href;
        });
    });
</script>