<h1>Login gescheitert</h1>
<p><h4>$flash.failure</h4></p>
<p>Neue Mitglieder: Eventuell ist dein Benutzer noch nicht aktiviert. Bitte beachte dass wir ein unterschriebenes Beitrittsformular benötigen bevor wir den Account freischalten können!</p>