<h1>Users Administration</h1>

<table>
    <thead>
        <tr>
            <td><a href="List.aspx?order=Id">Id</a></td>
            <td><a href="List.aspx?order=Username">Username</a></td>
            <td><a href="List.aspx?order=Email">Email</a></td>
            <td>Type</td>
        </tr>
    </thead>
#foreach ($member in $members)
    <tr>
        <td>$member.Id</td>
        <td>$member.Username</td>
        <td>$member.Email</td>
        <td>$member.Role</td>
    </tr>
#end
</table>