<h1>Users Administration</h1>

<table>
    <thead>
        <tr>
            <td><a href="List.aspx?order=Id">Id</a></td>
            <td><a href="List.aspx?order=Username">Username</a></td>
            <td><a href="List.aspx?order=Email">Email</a></td>
            <td>Type</td>
            <td>Aktiv</td>
        </tr>
    </thead>
#foreach ($member in $members)
    <tr>
        <td><a href="$UrlHelper.For("%{controller = 'Users', action = 'Edit', area = 'admin', querystring = 'id=$member.Id'}")">$member.Id</a></td>
        <td>$member.Username</td>
        <td>$member.Email</td>
        <td>$member.Role</td>
        <td>$member.IsAccountActive</td>
    </tr>
#end
</table>


<div class="pagination">
<table width="100%" border="0">
  <tr>
  <td>Showing $members.FirstItemIndex - $members.LastItemIndex of $members.Totalitems</td>
  <td align="right">
#if($members.HasPreviousPage) $PaginationHelper.CreatePageLink( 1, "first" ) #end
#if(!$members.HasPreviousPage) first #end
#if($members.HasPreviousPage) | $PaginationHelper.CreatePageLink( $members.PreviousPageIndex, "prev" ) #end
#if(!$members.HasPreviousPage) | prev #end
#if($members.HasNextPage) | $PaginationHelper.CreatePageLink( $members.NextPageIndex, "next" ) #end
#if(!$members.HasNextPage) | next #end
#if($members.HasNextPage) | $PaginationHelper.CreatePageLink( $members.TotalPages, "last" ) #end
#if(!$members.HasNextPage) | last #end
  </td>
  </tr>
</table>
</div>