<h1>Reset User password</h1>

<form action="ResetPassword.aspx" method="post">
    <input type="hidden" name="id" value="$member.id" />
    <ul>
        <li>
            $FormHelper.LabelFor("password", "New Password:")
            $FormHelper.TextFieldValue("password", $password)
        </li>
        <li>
            $FormHelper.CheckboxField("email") $FormHelper.LabelFor("email", "Neues Kennwort an Benutzer senden?")
        </li>
        <li>
            <input type="submit" value="Reset Password" />
        </li>
    </ul>
</form>