<h1>Reset User password</h1>

<form action="" method="post">
    $FormHelper.LabelFor("password", "New Password:")
    $FormHelper.TextFieldValue("password", $password)
    <input type="submit" value="Reset Password" />
</form>