<form action="RecoverPassword.aspx" method="post">
    <fieldset>
        <img src="/Content/images/email_edit.png" alt="Email icon" /><h3>Kennwort wiederherstellen</h3>
        <legend>Kennwort wiederherstellen</legend>
        
        <p>Bitte geben Sie ihre Email adresse an und wir weisen ein neues Kennwort zu und senden Ihnen das neue Kennwort per Email zu.</p>
        #if ($recovery_error)
            $recovery_error
        #end
        <ol>
            <li>$FormHelper.LabelFor("Email", "Email")
            $FormHelper.TextField("Email")</li>
        </ol>
        <input type="submit" id="submit" value="Senden" />
    </fieldset>
</form>